
<div class="container" style="margin-top:50px;">
    <div class="row">
      <div class="col-md-3" *ngFor='let prod of product'>
       
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{'data:image/jpeg;base64,' +prod.mainImage.data}}"  (click)="selectProduct(prod.id)"/>
                </div>
                <a class="card-action" >
                    <fa-icon class="isAddToWishList"  [icon]="faHeart" *ngIf="addedToWishList" (click)="removeFromWishList(prod.id)"></fa-icon>
                    <fa-icon class="notAddToWishList" [icon]="faHeart" *ngIf="!addedToWishList" (click)="addToWishList(prod.id)"></fa-icon>
                </a>
               
                <div class="card-heading">
                    {{prod.productName}}
                </div>
                <div class="card-text">
                    {{prod.productSummary?.substr(0, 60)}} ...
                </div>
                <div class="card-text">
                    ${{prod.price}}
                </div>
                 <button *ngIf="prod.id" class="card-button" (click)="addToCartHandler(prod.id)"><fa-icon [icon]="faShoppingCart"></fa-icon> Add To Cart</button>
                 <div class="col-md-4">
                    <button *ngIf="prod.id" (click)="deleteProduct(prod.id)" type="submit" class="btn btn-outline-danger">Delete</button>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-secondary" [routerLink]="['/editProduct', prod.categoryId, prod.id]">Edit</button>
                </div>
            </div>
        
        </div>
    </div>  
